BD2/WebApp/Web References/DocumentWebServiceReference/DocumentsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:47521/DocumentsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:47521/DocumentsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:47521/DocumentsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Database" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentsService_GetDocumentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentById" />
  </wsdl:message>
  <wsdl:message name="IDocumentsService_GetDocumentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentsService_SaveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentsService_SaveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentsService_DeleteDocumenyById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumenyById" />
  </wsdl:message>
  <wsdl:message name="IDocumentsService_DeleteDocumenyById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumenyByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentsService">
    <wsdl:operation name="GetDocumentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentsService/GetDocumentById" message="tns:IDocumentsService_GetDocumentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentsService/GetDocumentByIdResponse" message="tns:IDocumentsService_GetDocumentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentsService/SaveDocument" message="tns:IDocumentsService_SaveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentsService/SaveDocumentResponse" message="tns:IDocumentsService_SaveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumenyById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentsService/DeleteDocumenyById" message="tns:IDocumentsService_DeleteDocumenyById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentsService/DeleteDocumenyByIdResponse" message="tns:IDocumentsService_DeleteDocumenyById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Default" type="tns:IDocumentsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentById">
      <soap:operation soapAction="http://tempuri.org/IDocumentsService/GetDocumentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentsService/SaveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumenyById">
      <soap:operation soapAction="http://tempuri.org/IDocumentsService/DeleteDocumenyById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentsService">
    <wsdl:port name="Default" binding="tns:Default">
      <soap:address location="http://localhost:47521/DocumentsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>