BD2/UI/Service References/DictionaryServiceReference/DictionaryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47521/DictionaryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSkill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skill" nillable="true" type="tns:Skill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkill" nillable="true" type="tns:ArrayOfSkill" />
  <xs:complexType name="Skill">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Skill" nillable="true" type="tns:Skill" />
  <xs:complexType name="ArrayOfSoftSkill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoftSkill" nillable="true" type="tns:SoftSkill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoftSkill" nillable="true" type="tns:ArrayOfSoftSkill" />
  <xs:complexType name="SoftSkill">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SoftSkill" nillable="true" type="tns:SoftSkill" />
</xs:schema>