BD2/UI/Service References/DictionaryServiceReference/DictionaryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DictionaryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:47521/DictionaryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:47521/DictionaryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:47521/DictionaryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Database" />
      <xsd:import schemaLocation="http://localhost:47521/DictionaryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDictionaryService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetAmountOfSkills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOfSkills" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetAmountOfSkills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOfSkillsResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetAmountOfSoftSkills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOfSoftSkills" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetAmountOfSoftSkills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOfSoftSkillsResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetSkillsByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillsByPage" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetSkillsByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillsByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetSoftSkillsByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftSkillsByPage" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetSoftSkillsByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftSkillsByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetSkillById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillById" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetSkillById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetSoftSkillById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftSkillById" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetSoftSkillById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftSkillByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_SaveSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSkill" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_SaveSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_SaveSoftSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSoftSkill" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_SaveSoftSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSoftSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_DeleteSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSkill" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_DeleteSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_DeleteSoftSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSoftSkill" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_DeleteSoftSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSoftSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_SaveStage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStage" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_SaveStage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStageResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_DeleteStage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStage" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_DeleteStage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStageResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetAmountOfStages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOfStages" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetAmountOfStages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOfStagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetStagesByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStagesByPage" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetStagesByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStagesByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetStageById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStageById" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetStageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetStagesNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStagesNames" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetStagesNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStagesNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetStagePriorityByStageName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStagePriorityByStageName" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetStagePriorityByStageName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStagePriorityByStageNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IDictionaryService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/Ping" message="tns:IDictionaryService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/PingResponse" message="tns:IDictionaryService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountOfSkills">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetAmountOfSkills" message="tns:IDictionaryService_GetAmountOfSkills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetAmountOfSkillsResponse" message="tns:IDictionaryService_GetAmountOfSkills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountOfSoftSkills">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetAmountOfSoftSkills" message="tns:IDictionaryService_GetAmountOfSoftSkills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetAmountOfSoftSkillsResponse" message="tns:IDictionaryService_GetAmountOfSoftSkills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkillsByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetSkillsByPage" message="tns:IDictionaryService_GetSkillsByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetSkillsByPageResponse" message="tns:IDictionaryService_GetSkillsByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoftSkillsByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetSoftSkillsByPage" message="tns:IDictionaryService_GetSoftSkillsByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetSoftSkillsByPageResponse" message="tns:IDictionaryService_GetSoftSkillsByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkillById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetSkillById" message="tns:IDictionaryService_GetSkillById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetSkillByIdResponse" message="tns:IDictionaryService_GetSkillById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoftSkillById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetSoftSkillById" message="tns:IDictionaryService_GetSoftSkillById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetSoftSkillByIdResponse" message="tns:IDictionaryService_GetSoftSkillById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/SaveSkill" message="tns:IDictionaryService_SaveSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/SaveSkillResponse" message="tns:IDictionaryService_SaveSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSoftSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/SaveSoftSkill" message="tns:IDictionaryService_SaveSoftSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/SaveSoftSkillResponse" message="tns:IDictionaryService_SaveSoftSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/DeleteSkill" message="tns:IDictionaryService_DeleteSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/DeleteSkillResponse" message="tns:IDictionaryService_DeleteSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSoftSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/DeleteSoftSkill" message="tns:IDictionaryService_DeleteSoftSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/DeleteSoftSkillResponse" message="tns:IDictionaryService_DeleteSoftSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveStage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/SaveStage" message="tns:IDictionaryService_SaveStage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/SaveStageResponse" message="tns:IDictionaryService_SaveStage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/DeleteStage" message="tns:IDictionaryService_DeleteStage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/DeleteStageResponse" message="tns:IDictionaryService_DeleteStage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountOfStages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetAmountOfStages" message="tns:IDictionaryService_GetAmountOfStages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetAmountOfStagesResponse" message="tns:IDictionaryService_GetAmountOfStages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStagesByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetStagesByPage" message="tns:IDictionaryService_GetStagesByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetStagesByPageResponse" message="tns:IDictionaryService_GetStagesByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetStageById" message="tns:IDictionaryService_GetStageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetStageByIdResponse" message="tns:IDictionaryService_GetStageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStagesNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetStagesNames" message="tns:IDictionaryService_GetStagesNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetStagesNamesResponse" message="tns:IDictionaryService_GetStagesNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStagePriorityByStageName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetStagePriorityByStageName" message="tns:IDictionaryService_GetStagePriorityByStageName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetStagePriorityByStageNameResponse" message="tns:IDictionaryService_GetStagePriorityByStageName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDictionaryService" type="tns:IDictionaryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IBaseService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountOfSkills">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetAmountOfSkills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountOfSoftSkills">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetAmountOfSoftSkills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkillsByPage">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetSkillsByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoftSkillsByPage">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetSoftSkillsByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkillById">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetSkillById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoftSkillById">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetSoftSkillById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSkill">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/SaveSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSoftSkill">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/SaveSoftSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSkill">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/DeleteSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSoftSkill">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/DeleteSoftSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStage">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/SaveStage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStage">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/DeleteStage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountOfStages">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetAmountOfStages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStagesByPage">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetStagesByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStageById">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetStageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStagesNames">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetStagesNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStagePriorityByStageName">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetStagePriorityByStageName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictionaryService">
    <wsdl:port name="BasicHttpBinding_IDictionaryService" binding="tns:BasicHttpBinding_IDictionaryService">
      <soap:address location="http://localhost:47521/DictionaryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>