BD2/UI/Service References/PersonsServiceReference/PersonsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:47521/PersonsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:47521/PersonsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:47521/PersonsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Database" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonsService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetAmountOfRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOfRecords" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetAmountOfRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOfRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonById" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetPersonByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByPage" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetPersonByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonsService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/Ping" message="tns:IPersonsService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/PingResponse" message="tns:IPersonsService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountOfRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/GetAmountOfRecords" message="tns:IPersonsService_GetAmountOfRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/GetAmountOfRecordsResponse" message="tns:IPersonsService_GetAmountOfRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/GetPersonById" message="tns:IPersonsService_GetPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/GetPersonByIdResponse" message="tns:IPersonsService_GetPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/GetPersonByPage" message="tns:IPersonsService_GetPersonByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/GetPersonByPageResponse" message="tns:IPersonsService_GetPersonByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/Save" message="tns:IPersonsService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/SaveResponse" message="tns:IPersonsService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/Delete" message="tns:IPersonsService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/DeleteResponse" message="tns:IPersonsService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonsService" type="tns:IPersonsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IBaseService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountOfRecords">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/GetAmountOfRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/GetPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByPage">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/GetPersonByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonsService">
    <wsdl:port name="BasicHttpBinding_IPersonsService" binding="tns:BasicHttpBinding_IPersonsService">
      <soap:address location="http://localhost:47521/PersonsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>